#container {
  width: 400px;
  margin: 50px auto;
}
#container button {
  margin: auto;
}
.list-group {
  margin: 0;
}
.list-group ul {
  padding-left: 5px;
}
.list-group-item {
  padding: 5px 10px;
}
.list-group-item .label {
  margin: 2px 0 0 5px;
}
.name {
  display: inline-block;
  margin-bottom: 5px;
}
form {
  display: inline-block;
}
form .form-control {
  display: inline;
  width: 150px;
}
