#container { width: 400px; margin: 50px auto;
    button { margin: auto; }
}
.list-group { margin: 0;
    ul { padding-left: 5px; }
}
.list-group-item { padding: 5px 10px;
    .label { margin: 2px 0 0 5px; }
}
.name { display: inline-block; margin-bottom: 5px; }
form { display: inline-block;
    .form-control { display: inline; width: 150px; }
}