<li class="list-group-item">
    <span class="name" ng-hide="edit" ng-click="edit = true">{{ child.name }}</span>
    <form ng-show="edit" ng-submit="edit = false" class="form-inline" role="form">
        <div class="form-group">
            <input class="form-control" type="text" ng-model="child.name" value="{{ child.name }}"/>
            <button type="submit" class="btn">Save</button>
        </div>
    </form>
    <span class="label label-success pull-right" ng-click="addChild(child)">add</span>
    <span class="label label-warning pull-right" ng-click="removeChildren(child)" ng-show="child.children.length">remove</span>
</li>
