<!DOCTYPE html>
<html>
<head lang="en">

    <meta charset="UTF-8">
    <title>Evolution</title>

    <script src="js/vendor/angular.js"></script>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/services.js"></script>
    <script src="js/directives.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>

</head>
<body ng-app="app">

    <div ng-controller="TreeCtrl" id="container">
        <div class="list-group">
            <tree tree='objects'></tree>
        </div>
        <div class="text-center">
            <button class="btn btn-primary" ng-click="save(objects)">Save state</button>
            <button class="btn" ng-click="clear()">Clear state</button>
            <div>{{ msg }}</div>
        </div>
    </div>

</body>
</html>
